<!DOCTYPE html>
<html lang="pl">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">BookHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/books">Książki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shelves">Moje półki</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Wyloguj</a>
                    </li>
                </ul>
                <form class="d-flex" role="search" th:action="@{/books}" method="get">
                    <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Szukaj" name="query">
                    <button class="btn btn-outline-success" type="submit">Szukaj</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer" class="mt-auto">
    <footer class="bg-dark text-white py-3 mt-4">
        <div class="container text-center">&copy; 2024 BookHub. Wszelkie prawa zastrzeżone.</div>
    </footer>
</div>
</body>
</html>